<!DOCTYPE html>
<!--Empezamos la pestaña de contacto-->
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta name="lang" content="es"> 
        <meta name="description" content="trabajo final, tienda de musica"> 
        <meta name="robots" content="NOFOLLOW"> 
        <meta name="Author" content="Queralt Rives Fillat"> 
        <meta name="keywords" content="trabajo clase, tienda musica, guitarras, cuerdas, amplificadores"> 
        <meta name="revisit-after" content="2 days"> 
        <meta name="category" content="Prácticas"> 
        <link rel="stylesheet" type="text/css" href="../css/estilos.css"> 
        <title>Sola</title>
    </head>

    <body>
        <!--Indicamos que contacto es la pagina actual en el menu de navegación-->
        <header>
            <img class="logo" src="../assets/imagenes/logos/sola_blanc.png" alt="Logo_sola">
            <nav>  
            <div class="div_menu"> 
                <span class="boton"> 
                    <a href="../index.html" class="div_menu">Inicio</a> 
                </span> 
                <span class="boton"> 
                    <a href="productos.html" class="div_menu">Productos</a> 
                </span>
                <span class="boton"> 
                    <a href="presupuesto.html" class="div_menu">Presupuesto</a> 
                </span> 
                <span class="botonin"> 
                    <a href="contacto.html" class="current">Contacto</a> 
                </span> 
             </div> 
        </nav>

        </header>
            <!--Insertamos una imagen centrada con la ubicación y la información de contacto al lado-->
            <div class="contenedor_contacto">
                <div class="imagen4">
                    <img src="../assets/imagenes/ubicacion/ubicacion.png" alt="Ubicación" class="imagen4">
                </div>

                <div class="info_contacto">
                    <p>Sola Sido</p>
                    <p>912345678</p>
                    <p>sola.sido.guitarres@gmail.com.</p>
                    <p>@sola_sido.mp3</p>
                    <p>Plaza Poeta Marquina, 3, 17002 Girona</p>
                </div>
            </div>

        <!--Para terminar, el mismo pie de pagina que todas las pestañas-->
        <footer>
            <div class="footer_container">
                <div class="footer_izquierda">
                    <a href="https://www.instagram.com/sola_sido.mp3?igsh=MXZkMW5qc3FvODJnbg==">
                        <img src="../assets/imagenes/logos/instagram_blanco.png" alt="Instagram logo" class="imagen_footer">
                    </a>
                    <a href="https://www.tiktok.com/@sola_sido.mp3?is_from_webapp=1&sender_device=pc">
                        <img src="../assets/imagenes/logos/tiktok_blanco.png" alt="Tiktok logo" class="imagen_footer">
                    </a>
                    <a href="https://youtube.com/@sola_sido.mp3?si=ydhQjJbHyw4cfzda">
                        <img src="../assets/imagenes/logos/youtube_blanco.png" alt="Youtube logo" class="imagen_footer">
                    </a>
                    <p>@sola_sido.mp3</p>
                </div>

                <div class="footer_centro">
                    <a href="aviso_legal.html" class="justifcado_centro">Aviso Legal</a>
                </div>

                <div class="justifcado_derecha">
                    <p class="justifcado_derecha">Plaza Poeta Marquina, 3, 17002 Girona</p>
                </div>
            </div>
        </footer>

    </body>

</html>