<!DOCTYPE html>
<!--Empezamos la pagina de politica de privacidad-->
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta name="lang" content="es"> 
        <meta name="description" content="trabajo final, tienda de musica"> 
        <meta name="robots" content="NOFOLLOW"> 
        <meta name="Author" content="Queralt Rives Fillat"> 
        <meta name="keywords" content="trabajo clase, tienda musica, guitarras, cuerdas, amplificadores"> 
        <meta name="revisit-after" content="2 days"> 
        <meta name="category" content="Prácticas"> 
        <link rel="stylesheet" type="text/css" href="../css/estilos.css"> 
        <title>Sola</title>
    </head>

    <body>
        <!--En este caso tampoco marca la pagina actual en el menu de navegación ya que no es parte de este-->
        <header>
            <img class="logo" src="../assets/imagenes/logos/sola_blanc.png" alt="Logo_sola">
            <nav>  
            <div class="div_menu"> 
                <span class="boton"> 
                    <a href="../index.html" class="div_menu">Inicio</a> 
                </span> 
                <span class="boton"> 
                    <a href="productos.html" class="div_menu">Productos</a> 
                </span>
                <span class="boton"> 
                    <a href="presupuesto.html" class="div_menu">Presupuesto</a> 
                </span> 
                <span class="boton"> 
                    <a href="contacto.html" class="div_menu">Contacto</a> 
                </span> 
             </div> 
        </nav> 
        </header>

            <!--Este texto es copiado de un exemplo, no es real-->
            <p class="texto_principal">Sola te informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través del sitio Web sola.com</p>
            <p class="texto_principal">En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).</p>
            <p class="texto_principal">El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso Legal.</p>
            <p class="texto_principal">El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el interesado, solicitándolo directamente al Titular, lo que significa que cualquier cliente, suscriptor o colaborador que haya facilitado sus datos en algún momento puede dirigirse al Titular y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos, solicitar la portabilidad de sus datos personales, oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los ficheros del Titular.</p>

        <!--Terminamos con el pie de pagina que contienen todas las pestañas-->
        <footer>
            <div class="footer_container">
                <div class="footer_izquierda">
                    <a href="https://www.instagram.com/sola_sido.mp3?igsh=MXZkMW5qc3FvODJnbg==">
                        <img src="../assets/imagenes/logos/instagram_blanco.png" alt="Instagram logo" class="imagen_footer">
                    </a>
                    <a href="https://www.tiktok.com/@sola_sido.mp3?is_from_webapp=1&sender_device=pc">
                        <img src="../assets/imagenes/logos/tiktok_blanco.png" alt="Tiktok logo" class="imagen_footer">
                    </a>
                    <a href="https://youtube.com/@sola_sido.mp3?si=ydhQjJbHyw4cfzda">
                        <img src="../assets/imagenes/logos/youtube_blanco.png" alt="Youtube logo" class="imagen_footer">
                    </a>
                    <p>@sola_sido.mp3</p>
                </div>

                <div class="footer_centro">
                    <a href="aviso_legal.html" class="justifcado_centro">Aviso Legal</a>
                </div>

                <div class="justifcado_derecha">
                    <p class="justifcado_derecha">Plaza Poeta Marquina, 3, 17002 Girona</p>
                </div>
            </div>
        </footer>

    </body>

</html>