<!DOCTYPE html>
<!--Empezamos la pestaña de productos-->
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="lang" content="es"> 
        <meta name="description" content="trabajo final, tienda de musica"> 
        <meta name="robots" content="NOFOLLOW"> 
        <meta name="Author" content="Queralt Rives Fillat"> 
        <meta name="keywords" content="trabajo clase, tienda musica, guitarras, cuerdas, amplificadores"> 
        <meta name="revisit-after" content="2 days"> 
        <meta name="category" content="Prácticas"> 
        <link rel="stylesheet" type="text/css" href="../css/estilos.css"> 
        <title>Sola</title>
    </head>

    <body>
        <!--En este menu de navegación indicamos la pagina actual, la de productos-->
        <header>
            <img class="logo" src="../assets/imagenes/logos/sola_blanc.png" alt="Logo_sola">
            <nav>  
            <div class="div_menu"> 
                <span class="boton"> 
                    <a href="../index.html" class="div_menu">Inicio</a> 
                </span> 
                <span class="botonin"> 
                    <a href="productos.html" class="current">Productos</a> 
                </span>
                <span class="boton"> 
                    <a href="presupuesto.html" class="div_menu">Presupuesto</a> 
                </span> 
                <span class="boton"> 
                    <a href="contacto.html" class="div_menu">Contacto</a> 
                </span> 
             </div> 
        </nav> 
        </header>
            <!--Creamos una galeria de productos con su imagen, nombre y precio. Son todo productos falsos con imagenes de unsplash y pexels-->
            <div class="galeria_productos">

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-philboakye-3428498.jpg" alt="Guitarra clasica">
                    <figcaption class="info_producto">
                    <h4>Guitarra clasica</h4>
                    <p class="preu">80,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-brunocervera-20206679.jpg" alt="Guitarra acustica">
                    <figcaption class="info_producto">
                    <h4>Guitarra acustica</h4>
                    <p class="preu">200,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-amina-filkins-5425133.jpg" alt="Guitarra electrica">
                    <figcaption class="info_producto">
                    <h4>Guitarra electrica</h4>
                    <p class="preu">320,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-markusspiske-92069.jpg" alt="Guitarra electrica">
                    <figcaption class="info_producto">
                    <h4>Guitarra electrica</h4>
                    <p class="preu">350,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-8fonk-31092061.jpg" alt="Guitarra electrica">
                    <figcaption class="info_producto">
                    <h4>Guitarra electrica</h4>
                    <p class="preu">500,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-mustafa-ozturk-1404196-2772147.jpg" alt="Ukelele">
                    <figcaption class="info_producto">
                    <h4>Ukelele</h4>
                    <p class="preu">40,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/y-m-1TiyIFuIZdg-unsplash.jpg" alt="Ukelele">
                    <figcaption class="info_producto">
                    <h4>Ukelele</h4>
                    <p class="preu">25,00 €</p>
                    </figcaption>
                </figure>
            
                <figure class="producto">
                    <img src="../assets/imagenes/productos/johannes-weber-gCqI07-Fzp4-unsplash.jpg" alt="Ukelele">
                    <figcaption class="info_producto">
                    <h4>Ukelele</h4>
                    <p class="preu">30,00 €</p>
                    </figcaption>
                </figure>

                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-rombo-1510555-14808408.jpg" alt="Pua">
                    <figcaption class="info_producto">
                    <h4>Pack puas (5u.)</h4>
                    <p class="preu">4,00 €</p>
                    </figcaption>
                </figure>
            
                <figure class="producto">
                    <img src="../assets/imagenes/productos/pexels-rombo-1510555-14992976.jpg" alt="Pua">
                    <figcaption class="info_producto">
                    <h4>Pack puas (5u.)</h4>
                    <p class="preu">4,00 €</p>
                    </figcaption>
                </figure>

            </div>

        <!--El pie de pagina es el mismo para todos-->
        <footer>
            <div class="footer_container">
                <div class="footer_izquierda">
                    <a href="https://www.instagram.com/sola_sido.mp3?igsh=MXZkMW5qc3FvODJnbg==">
                        <img src="../assets/imagenes/logos/instagram_blanco.png" alt="Instagram logo" class="imagen_footer">
                    </a>
                    <a href="https://www.tiktok.com/@sola_sido.mp3?is_from_webapp=1&sender_device=pc">
                        <img src="../assets/imagenes/logos/tiktok_blanco.png" alt="Tiktok logo" class="imagen_footer">
                    </a>
                    <a href="https://youtube.com/@sola_sido.mp3?si=ydhQjJbHyw4cfzda">
                        <img src="../assets/imagenes/logos/youtube_blanco.png" alt="Youtube logo" class="imagen_footer">
                    </a>
                    <p>@sola_sido.mp3</p>
                </div>

                <div class="footer_centro">
                    <a href="aviso_legal.html" class="justifcado_centro">Aviso Legal</a>
                </div>

                <div class="justifcado_derecha">
                    <p class="justifcado_derecha">Plaza Poeta Marquina, 3, 17002 Girona</p>
                </div>
            </div>
        </footer>

    </body>

</html>